/*
/* Sarah Williams
* April 12, 2019 
* Project Name and Description
*/

/* The universal selector */

* {

}

/* Body properties here */

body {
    width: 75%/* size of webpage */
}
#lab {height: 600px;
    width: 775px; /* size of picture */
}
header{ 
    background-color: azure/* color of header */
}
main{
    background-color: azure/* color of main section */
}
footer{
    background-color: cadetblue/*color of the footer*/
}